.wave{
    display: flex;
}

.photoA{
    width: 50%;
    margin-top: 5rem;
}

.tatW{
    width: 50%;
    padding: 2rem;
    margin-top: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }

  .grid-item {
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  button {
    font-size: 0.9rem;
    font-weight: 200;
    display: block;
    margin: 1rem 0;
    padding: 1rem 0;
    background-color: #00000000;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .terCon {
    font-family: 'Termina Test', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

  button:hover {
    color: #ff3a3a;
    transition: all 0.5s ease;
  }


   
   .grid-item .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
   
   .hover-text-top {
    align-self: flex-start;
    font-size: 0.8rem;
   }
   
   .hover-text-bottom {
    align-self: flex-start;
    font-family: 'Termina Test', sans-serif;
    font-size: 0.65rem;
   }

   .grid-item:hover .hover-overlay {
    opacity: 1;
   }
   
   .grid-item:hover img {
    transform: scale(1.2);
   }









.playlist {
    width: 20%;
    background-color: #101010;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.section-title {
    font-family: 'Termina Test', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.section-title0 {
    font-family: 'Termina Test', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.section-title2 {
    font-family: 'Termina Test', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    border-top: 1px solid #fff;
    margin-top: 3rem;
    padding-top: 1rem;
    padding-left: 0.25rem;
}

.main-content {
    width: 50%;
    height: 100%;
    display: flex;           /* 추가 */
    flex-direction: column;  /* 추가 */
}

.banner-section {
    flex: 0 0 auto;
}

.banner-container {
    position: relative;
    height: 20rem;
    border-radius: 1rem;
    overflow: hidden;
}

.banner-slider {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.banner-slide {
    flex: 0 0 100%;
    /* width: 25%; */
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.BS01::before {
    content: '';
    position: absolute;
    top: 30%;         /* 상하 가운데 정렬 */
    left: 70%;        /* 좌우 가운데 정렬 */
    transform: translate(-50%, -50%);  /* 정확한 중앙 배치를 위한 변환 */
    width: 150%;
    height: 150%;
    background-image: url('img/banner1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  /* 콘텐츠 뒤로 보내기 */
}

.BS02::before {
    content: '';
    position: absolute;
    top: 30%;         /* 상하 가운데 정렬 */
    left: 50%;        /* 좌우 가운데 정렬 */
    transform: translate(-50%, -50%);  /* 정확한 중앙 배치를 위한 변환 */
    width: 102%;
    height: 140%;
    background-image: url('img/banner2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  /* 콘텐츠 뒤로 보내기 */
}

.BS03::before {
    content: '';
    position: absolute;
    top: 100%;         /* 상하 가운데 정렬 */
    left: 50%;        /* 좌우 가운데 정렬 */
    transform: translate(-50%, -50%);  /* 정확한 중앙 배치를 위한 변환 */
    width: 100%;
    height: 200%;
    background-image: url('img/banner3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  /* 콘텐츠 뒤로 보내기 */
}

.BS04::before {
    content: '';
    position: absolute;
    top: 100%;         /* 상하 가운데 정렬 */
    left: 50%;        /* 좌우 가운데 정렬 */
    transform: translate(-50%, -50%);  /* 정확한 중앙 배치를 위한 변환 */
    width: 100%;
    height: 200%;
    background-image: url('img/banner4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  /* 콘텐츠 뒤로 보내기 */
}

.banner-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);  /* 검은색 50% 투명도 */
    z-index: -1;  /* 이미지보다는 위, 콘텐츠보다는 아래 */
}




.bannerT01 {
    font-family: "Termina Test", sans-serif !important;
    font-size: 2rem;
    font-weight: 500;
}

.bannerT02 {
    font-size: 0.9rem;
    font-weight: 300;
}

.banner-title{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.banner-text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 300;
    color: #eaeaea;
}

.banner-text0 {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.banner-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
    z-index: 10;
}

.dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

.sound-wave-section {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    flex: 1;                /* 남은 공간 모두 차지 */
    min-height: 0;
}

.wave-mov {
    flex: 1;
    border-radius: 0.5rem;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave-mov video{
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
}

.wave-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding: 1.5rem;
    border-radius: 1rem;
    justify-content: space-between;
}

.info1{
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: #000;
}

.info2{
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 300;
    color: #212121;
}

.info2 a{
    text-decoration: none;
    color: inherit;
}

.info2 a:hover{
    color: #ff3a3a;
}

.social-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-pic {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ff4444;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Termina Test', sans-serif;
    font-weight: 500;
    color: white;
}

.korean-text {
    font-size: 0.9rem;
    color: #333;
    margin-top: 1rem;
    line-height: 1.5;
}

.info3{
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 1rem;
    line-height: 1.4;
}

.playlist-sidebar {
    width: 20%;
    background-color: #eaeaea;
    padding: 1.5rem;
    border-radius: 1rem;
}

.current-track {
    margin-bottom: 2rem;
    transition: all 0.3s ease;
}

.current-track img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.track-list-mini {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.track-item-mini {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.track-item-mini:hover {
    background-color: #d0d0d0;
}

.track-item-mini img {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
}

.track-item{
    margin-bottom: 2rem;
    padding-left: 0.25rem;
}

.track-info {
    flex: 1;
}

.track-title {
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.track-artist {
    font-size: 0.85rem;
    color: #666;
}

.audio-player {
    display: none;
}

.music-container {
    padding-top: 8rem;
    height: 90vh;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 2rem;
    justify-content: space-between;
}



#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#playMessage {
    color: #fff;
    font-size: 1rem;
    background: #000000;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* 메시지가 오버레이 위에 표시되도록 */
}


.typeGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    width: fit-content;
}

.tg{
    font-family: 'Termina Test',sans-serif;
    font-size:4.5rem;
    font-weight: 600;
}

.tg01{
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
}

.tg sup{
    position: relative;
    top: -5rem;
    right: -6.5rem;
}

.circle{
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #ff3a3a;
}

.tg02 {
    grid-column: 2 / span 2;
    grid-row: 2;
    white-space: nowrap;
    justify-self: start;
}

.tg03{
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
}

.tg04{
    grid-column: 3;
    grid-row: 4;
    white-space: nowrap;
    justify-self: start;
}

.main-typo{
    display: flex;
    padding:10rem 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.myPhoto{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.myPhoto img{
    width: 15rem;
    /* max-width: 30vw;
    min-width: 2vw; */
}

.profiles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.profile1{
    grid-column: span 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, 1fr);
    border-top: 1px solid #212121;
}

.profile2{
    grid-column: span 1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    width: 100%;
    height: 100%;
}




.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
    border-radius: 10px;
  }
  
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    background-color: #101010;
    border-radius: 10px;
    transform: rotateY(180deg);
    background-color: #101010;
  }

  .secret-content{
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    margin-top: 1.5rem;
    margin-left: 2rem;
    /* padding: 2rem; */
  }




.private{
    font-family: 'Termina Test', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    background-color: #ff3a3a;
    padding: 0 0.5rem;
    transform: rotate(10deg);
    transition: all 0.5s ease;
}

.private:hover{
    transform: rotate(0deg);
    background-color: #fff;
}

.profT{
    margin-top: 1.5rem;
    margin-left: 0.3rem;
    margin-bottom: 3rem;
    font-family: 'Termina Test', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.proftxt{
    margin-bottom: 3rem;
    margin-left: 0.3rem;
    font-size: 1.05rem;
    font-weight: 500;
}

.proftxt0{
    font-family: 'Termina Test', sans-serif;
    line-height: 1.7rem;
}

.profTS{
    font-family: 'Termina Test', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    width: fit-content;
}

.proftxtS{
    margin-bottom: 3rem;
    font-size: 1.05rem;
    font-weight: 500;
}

.proftxtS0{
    font-family: 'Termina Test', sans-serif;
    line-height: 1.7rem;
}




.nameCard{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 1rem;
    margin-top: 10rem;
}

.ncTxt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ncT0{
    font-size: 0.9rem;
    font-weight: 400;
    color: #212121;
    line-height: 1.4rem;
}

.ncD{
    color: #ff3a3a;
    font-weight: 500;
}

.ncT{
    font-family: 'Termina Test', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.nc{
    aspect-ratio: 9 / 5;
    background-color: #101010;
    padding: 1.5rem;
}

.nc1{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nc1 a{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nc1 a:hover{
    background-color: #ff3a3a;
    color: #fff;
}

.ncName{
    color: #fff;
    font-weight: 300;
    margin-bottom: 6rem;
}

.ncJob{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ncLine{
    border-top: 0.95px solid #fff;
    width: 18.7rem;
}

.job{
    font-family: 'Termina Test', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #fff;
}


.ncTer{
    font-family: 'Termina Test', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    margin-right: 0.5rem;
}

.nc1-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    gap: 0.5rem
}

.contT{
    font-size: 0.9rem;
    font-weight: 500;
}

.contTxt{
    text-align: right;
    font-size: 0.9rem;
    font-weight: 400;
}

#downloadBtn{
    font-family: 'Termina Test', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    background-color: #101010;
    margin-top: 1rem;
    transform: all 0.3s ease;
}

#downloadBtn:hover{
    background-color: #ff3a3a;
}

.nc2{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-innerN{
    background-color: #ff3a3a;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 55%;
    left: 30%;
    opacity:0;
    transition: opacity 0.5s ease;
}

.circle-innerN0{
    background-color: #ff3a3a;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 33%;
    left: 55%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nc2:hover .circle-innerN{
    opacity: 1;
}

.nc2:hover .circle-innerN0{
    opacity: 1;
}


.timelineT{
    font-family: 'Termina Test',sans-serif;
    font-size:2rem;
    font-weight: 500;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.tlNum{
    font-family: 'Termina Test',sans-serif;
    font-size:1.2rem;
    font-weight: 400;
}

.timeLine{
    display: grid;
    grid-template-columns: repeat(7, minmax(25%, 25%));
    border: 1px solid #000;
    height: 30rem;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
    border: 1px solid #000;
    height: 30rem;
    scroll-behavior: smooth;
}

.tl{
    padding: 1.5rem;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease;
}

.tl.show {
    opacity: 1;
    transform: translateX(0);
  }

.tl01{
    border: none;
}

.tlYear{
    font-family: 'Termina Test', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #212121;
}

.tlMonth{
    font-family: 'Termina Test', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 3rem;
}

.tattooist{
    font-size: 0.9rem;
    font-weight: 400;
    color: #aaaaaa;
}

.tattooist a{
    color: inherit;
    text-decoration: none;
}

.tattooist a:hover{
    color:#ff3a3a;
}

.tlItxt{
    line-height: 1.8rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #212121;
}

/* 스크롤바 스타일링 유지 */
.timeLine::-webkit-scrollbar {
    height: 0;
}

.timeLine::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.timeLine::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.timeLine::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.tl01 {
    background-image: url('tattoos/wave1.png');
    background-size: 50% auto;  /* 너비는 요소의 80%, 높이는 자동 비율 계산 */
    background-position: right top;  /* 오른쪽 하단 정렬 */
    background-repeat: no-repeat;
    overflow: hidden;
}

.tl02 {
    background-image: url('tattoos/tl02.png');
    background-size: 50% auto;  /* 너비는 요소의 80%, 높이는 자동 비율 계산 */
    background-position: right top;  /* 오른쪽 하단 정렬 */
    background-repeat: no-repeat;
    overflow: hidden;
}

.tl03 {
    background-image: url('tattoos/tl03.png');
    background-size: 50% auto;  /* 너비는 요소의 80%, 높이는 자동 비율 계산 */
    background-position: right top;  /* 오른쪽 하단 정렬 */
    background-repeat: no-repeat;
    overflow: hidden;
}

.tl04 {
    background-image: url('tattoos/tl04.png');
    background-size: 50% auto;  /* 너비는 요소의 80%, 높이는 자동 비율 계산 */
    background-position: right top;  /* 오른쪽 하단 정렬 */
    background-repeat: no-repeat;
    overflow: hidden;
}

.tl05 {
    background-image: url('tattoos/tl05.png');
    background-size: 50% auto;  /* 너비는 요소의 80%, 높이는 자동 비율 계산 */
    background-position: right top;  /* 오른쪽 하단 정렬 */
    background-repeat: no-repeat;
    overflow: hidden;
}

.tl06 {
    background-image: url('tattoos/peach.jpg');
    background-size: 50% auto;  /* 너비는 요소의 80%, 높이는 자동 비율 계산 */
    background-position: right top;  /* 오른쪽 하단 정렬 */
    background-repeat: no-repeat;
    overflow: hidden;
}

.tl07 {
    background-image: url('tattoos/tl07.png');
    background-size: 50% auto;  /* 너비는 요소의 80%, 높이는 자동 비율 계산 */
    background-position: right top;  /* 오른쪽 하단 정렬 */
    background-repeat: no-repeat;
    overflow: hidden;
}